*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
 font-family: Verdana;
}
.bg-white{
  background: #fff !important;
  height: 82px;
}
.donate-btn{
  background: black;
  color: #fff;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 0;
  outline: 0;
}
/* support */
.support-img{
  margin-top: 25px;
  width: 100%;
  height: 300px;
  border: 10px solid #bec60b
}
.timeline{
  margin-bottom: 60px;
  background-color: #ebf6e5
}

.story-text,
.support-text{
  padding: 25px 20px 0px 0px;
  margin-top: 50px;
  margin-bottom: 80px;
}
p{
  color: #475055;
  font-size: 12px;
  margin-bottom: 14px;
  line-height: 20px;
}
.map-img{
  position: absolute;
  top: -85px;
  left: 33%;
  width: 100%;
  height: 500px;
}
.img-wrap{
  position: relative;
}
/* Footer */
.involved{
  background-color: aliceblue;
  padding: 20px;
  border-top: 2px solid black;
}

.involved-img{
  width: 29px;
  color: #43b1ec;
  margin: 10px;
}
a{
  color: black !important;
  font-weight: bold;
  text-decoration: none !important;
  list-style: none !important;
}
.ml-5{
  text-transform: uppercase;
  color: #57ec43;
}
.footer{    
  margin-top: 7rem;
}
.footer-text{
  background-color: rgb(243, 243, 243);
 height: 50vh;
  padding-top: 50px;
}
.footer-text p{
  font-size: 1.5rem;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: greenyellow;
}
.fa:hover {
  opacity: 0.7;
}

footer{
 
  color: rgb(0, 0, 0);
  height: 50vh;
}